!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "description", content: content_for?(:description) ? yield(:description) : "Port Katherine is a New England Live-Action Roleplaying (LARP) game launching in 2018." }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Port Katherine"
    = csrf_meta_tags

    = render "application/favicon"
    = stylesheet_link_tag "application", media: "all"
    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API_KEY']}"}
    = javascript_include_tag "application"
    = javascript_pack_tag "application"
  %body
    = yield

